{% extends '../../base.html' %}

{% load static %}

{% block title %}
    Login Area
{% endblock title %}

{% block extra-stylesheets %}
    <link rel="stylesheet" href="{% static 'web/css/login.css' %}">
{% endblock extra-stylesheets %}

{% block body %}
    <div class="uk-container-xsmall">
        <div class="uk-section uk-section-primary">
            <div class="uk-container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, vel.</p>
            </div>
        </div>
    </div>
{% endblock body %}