{% load static %}

<div class="uk-margin">
    <div class="uk-child-width-1-2@m" uk-grid>
        <div class="uk-margin box-slice-left">
            <div class="uk-child-width-1-2@m big-box-left" uk-grid>
                <div data-aos="fade-right" data-aos-duration="2000">
                    <div class="uk-card uk-card-default uk-card-body card-deck">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, cum.</p>
                    </div>
                </div>

                <div data-aos="fade-right" data-aos-duration="2000">
                    <div class="uk-card uk-card-default uk-card-body card-deck">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, cum.</p>
                    </div>
                </div>

                <div data-aos="fade-right" data-aos-duration="2000">
                    <div class="uk-card uk-card-default uk-card-body card-deck">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, cum.</p>
                    </div>
                </div>

                <div data-aos="fade-right" data-aos-duration="2000">
                    <div class="uk-card uk-card-default uk-card-body card-deck">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, cum.</p>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body card-deck">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, cum.</p>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body card-deck">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, cum.</p>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body card-deck">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, cum.</p>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body card-deck">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, cum.</p>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body card-deck">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, cum.</p>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body card-deck">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, cum.</p>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <div class="video-content-right-img">
                <img class="img-right-video-content" src="{% static 'web/img/jpg/sky-dark.jpg' %}" alt="">

                <div class="uk-child-width-1-1@m box-slice uk-text-center">
                    <h2 class="uk-text-warning">Heading in here</h2>
                    <h4 class="uk-text-warning">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim tenetur quisquam qui dolorum deserunt corporis maiores a provident adipisci minima?</h4><br>

                    <div class="uk-child-width-1-1@m uk-margin-auto uk-margin-auto-vertical" uk-grid>
                        <div>
                            <button class="uk-button btn-success uk-margin-right">Free Plan</button>
                        
                            <button class="uk-button btn-warning">Pro Plan</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    
        <div class="uk-child-width-1-1@m">
            <div>
                <div class="bg-section-900">
                    <h2 class="uk-text-warning uk-padding-auto uk-text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias commodi suscipit assumenda optio soluta! Quae.</h2>

                    <div class="box-container uk-text-center">
                        <figure>
                          <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                            <img class="img-masonry" src="https://assets.codepen.io/12005/windmill.jpg" alt="A windmill" />
                            <figcaption><a href="#">1</a></figcaption>
                          </div>
                        </figure>
                        <figure>
                          <img class="img-masonry" src="https://assets.codepen.io/12005/suspension-bridge.jpg" alt="The Clifton Suspension Bridge" />
                          <figcaption><a href="#">2</a></figcaption>
                        </figure>
                        <figure>
                          <img class="img-masonry" src="https://assets.codepen.io/12005/sunset.jpg" alt="Sunset and boats" />
                          <figcaption><a href="#">3</a></figcaption>
                        </figure>
                        <figure>
                          <img class="img-masonry" src="https://assets.codepen.io/12005/snowy.jpg" alt="a river in the snow" />
                          <figcaption><a href="#">4</a></figcaption>
                        </figure>
                        <figure>
                          <img class="img-masonry" src="https://assets.codepen.io/12005/bristol-balloons1.jpg" alt="a single checked balloon" />
                          <figcaption><a href="#">5</a></figcaption>
                        </figure>
                        <figure>
                          <img class="img-masonry" src="https://assets.codepen.io/12005/dog-balloon.jpg" alt="a hot air balloon shaped like a dog" />
                          <figcaption><a href="#">6</a></figcaption>
                        </figure>
                        <figure>
                          <img class="img-masonry" src="https://assets.codepen.io/12005/abq-balloons.jpg" alt="View from a hot air balloon of other balloons" />
                          <figcaption><a href="#">7</a></figcaption>
                        </figure>
                        <figure>
                          <img class="img-masonry" src="https://assets.codepen.io/12005/disney-balloon.jpg" alt="a balloon fairground ride" />
                          <figcaption><a href="#">8</a></figcaption>
                        </figure>
                        <figure>
                          <img class="img-masonry" src="https://assets.codepen.io/12005/bristol-harbor.jpg" alt="sunrise over a harbor" />
                          <figcaption><a href="#">9</a></figcaption>
                        </figure>
                        <figure>
                          <img class="img-masonry" src="https://assets.codepen.io/12005/bristol-balloons2.jpg" alt="three hot air balloons in a blue sky" />
                          <figcaption><a href="#">10</a></figcaption>
                        </figure>
                        <figure>
                        <img class="img-masonry" src="https://assets.codepen.io/12005/toronto.jpg" alt="the Toronto light up sign at night" />
                          <figcaption><a href="#">11</a></figcaption>
                        </figure>
                        <figure>
                            <img class="img-masonry" src="https://picsum.photos/id/1013/300/200.jpg" alt="three hot air balloons in a blue sky" />
                            <figcaption><a href="#">12</a></figcaption>
                        </figure>
                      </div>

                </div>
                
            </div>
        </div>
    
</div>