{% load static %}

    <div class="uk-container">
        <div class="uk-margin">
            <div class="uk-child-width-1-4@l uk-child-width-1-4@m uk-child-width-1-2@s" uk-grid>
                <div>
                    <div class="uk-card uk-card-default" data-aos="fade-down" data-aos-duration="1000">
                        <div class="uk-card-media-top">
                            <img src="{% static 'web/img/png/javascript_learn.png' %}" alt="" class="media-img-card">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="color: orange;">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, doloribus.</p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default" data-aos="fade-up" data-aos-duration="1000">
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="color: orange;">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, doloribus.</p>
                        </div>
                        <div class="uk-card-media-bottom">
                            <img src="{% static 'web/img/jpg/book_skill.jpg' %}" alt="" class="media-img-card">
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default" data-aos="fade-down" data-aos-duration="1000">
                        <div class="uk-card-media-top">
                            <img src="{% static 'web/img/jpg/50_free.jpg' %}" alt="" class="media-img-card">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="color: orange;">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, doloribus.</p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default" data-aos="fade-up" data-aos-duration="1000">
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="color: orange;">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, doloribus.</p>
                        </div>
                        <div class="uk-card-media-bottom">
                            <img src="{% static 'web/img/jpg/developer_learn.jpg' %}" alt="" class="media-img-card">
                        </div>
                    </div>
                </div>

            </div>


            <div class="uk-child-width-1-4@l uk-child-width-1-4@m uk-child-width-1-2@s" uk-grid>
                <div>
                    <div class="uk-card uk-card-default" data-aos="fade-down" data-aos-duration="1000">
                        <div class="uk-card-media-top">
                            <img src="{% static 'web/img/jpg/card-1.jpg' %}" alt="" class="media-img-card">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="color: orange;">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, doloribus.</p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default" data-aos="fade-up" data-aos-duration="1000">
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="color: orange;">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, doloribus.</p>
                        </div>
                        <div class="uk-card-media-bottom">
                            <img src="{% static 'web/img/jpg/card-2.jpg' %}" alt="" class="media-img-card">
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default" data-aos="fade-down" data-aos-duration="1000">
                        <div class="uk-card-media-top">
                            <img src="{% static 'web/img/jpg/card-3.jpg' %}" alt="" class="media-img-card">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="color: orange;">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, doloribus.</p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default" data-aos="fade-up" data-aos-duration="1000">
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="color: orange;">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, doloribus.</p>
                        </div>
                        <div class="uk-card-media-bottom">
                            <img src="{% static 'web/img/jpg/card-4.jpg' %}" alt="" class="media-img-card">
                        </div>
                    </div>
                </div>

            </div>


            <div class="uk-child-width-1-4@l uk-child-width-1-4@m uk-child-width-1-2@s" uk-grid>
                <div>
                    <div class="uk-card uk-card-default" data-aos="fade-down" data-aos-duration="1000">
                        <div class="uk-card-media-top">
                            <img src="{% static 'web/img/png/javascript_learn.png' %}" alt="" class="media-img-card">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="color: orange;">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, doloribus.</p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default" data-aos="fade-up" data-aos-duration="1000">
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="color: orange;">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, doloribus.</p>
                        </div>
                        <div class="uk-card-media-bottom">
                            <img src="{% static 'web/img/jpg/book_skill.jpg' %}" alt="" class="media-img-card">
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default" data-aos="fade-down" data-aos-duration="1000">
                        <div class="uk-card-media-top">
                            <img src="{% static 'web/img/jpg/50_free.jpg' %}" alt="" class="media-img-card">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="color: orange;">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, doloribus.</p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default" data-aos="fade-up" data-aos-duration="1000">
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="color: orange;">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, doloribus.</p>
                        </div>
                        <div class="uk-card-media-bottom">
                            <img src="{% static 'web/img/jpg/developer_learn.jpg' %}" alt="" class="media-img-card">
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <div class="uk-margin-remove-bottom uk-margin-top">
        <div class="uk-cad uk-card-secondary uk-body uk-padding">
            <p class="uk-text-center uk-text-large">iklan bar here</p>
        </div>
    </div>