{% load static %}

<section class="uk-section uk-section-default">

<div class="uk-margin" uk-grid>

    <div class="uk-width-3-5">
        <div class="uk-card uk-card-body box-left-content">
            <h4 class="title-content-top-left" data-aos="zoom-in" data-aos-duration="1000">Videos and Podcast</h4><hr>
            <video src="https://yootheme.com/site/images/media/yootheme-pro.mp4" loop muted playsinline uk-video="autoplay: inview" data-aos="fade-right" data-aos-duration="1000"></video>

            <div class="uk-margin-top" uk-grid>
                <div class="uk-width-3-4">
                    <div>
                        <h4 class="title-video-left" data-aos="fade-left" data-aos-duration="2000">Before build project django apps podcast</h4>
                    
                    </div>
                </div>

                <div class="uk-width-1-4">
                    <div class="uk-inline">
                        <a href="#" class="uk-margin-small-right" uk-icon="bell" uk-tooltip="Mute" data-aos="fade-down" data-aos-duration="2000"></a>
                        <a href="#" class="uk-margin-small-right" uk-icon="cog" uk-tooltip="Setting" data-aos="fade-up" data-aos-duration="2000"></a>
                        <a href="#" class="uk-margin-small-right" uk-icon="tv" uk-tooltip="Full Screen" data-aos="fade-down" data-aos-duration="2000"></a>
                        <a href="#" class="uk-margin-small-right" uk-icon="forward" uk-tooltip="Share" data-aos="fade-up" data-aos-duration="2000"></a>
                    </div>
                </div>

                <div class="uk-margin-remove-top" data-aos="fade-right" data-aos-duration="2000" uk-grid>
                    <span class="desciption-video-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero doloribus minus tenetur maxime recusandae cum explicabo quia iure placeat veniam.</span>

                    <span class="uk-margin-small-top" data-aos="fade-down" data-aos-duration="2000">
                        <button class="uk-button uk-button-small uk-margin-small-right uk-margin-small-top tag-video-left">Web Design</button>
                        <button class="uk-button uk-button-small uk-margin-small-right uk-margin-small-top tag-video-left">Web Programming</button>
                        <button class="uk-button uk-button-small uk-margin-small-right uk-margin-small-top tag-video-left">Clean</button>
                        <button class="uk-button uk-button-small uk-margin-small-right uk-margin-small-top tag-video-left">Django Framework</button>
                        <button class="uk-button uk-button-small uk-margin-small-right uk-margin-small-top tag-video-left">Python 3</button>
                        <button class="uk-button uk-button-small uk-margin-small-right uk-margin-small-top tag-video-left">UI Kit</button>
                        <button class="uk-button uk-button-small uk-margin-small-right uk-margin-small-top tag-video-left">Gunicorn</button>
                        <button class="uk-button uk-button-small uk-margin-small-right uk-margin-small-top tag-video-left">HTML 5</button>
                    </span>

                </div>

            </div>
            
        </div>
    </div>
    
    <div class="uk-width-2-5">
    
        <div>
            <div class="uk-card uk-card-body box-right-content">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi atque mollitia quis aliquam fuga possimus ducimus sapiente, quaerat praesentium cum.</p>
                <div class="uk-inline">
                    <button class="uk-button btn-warning">Try Now</button>
                    <button class="uk-button btn-warning uk-margin-left">Pay Latter</button>
                </div>

                <div class="iklan-box uk-margin-top">
                    <img src="{% static 'web/img/jpg/advertising-1.jpg' %}" alt="" class="uk-margin">
                    <img src="{% static 'web/img/png/avertising-2.png' %}" alt="">
                </div>
                
            </div>
        </div>

    </div>

</div>

</section>
