{% load static %}

<div class="uk-cover-container header-base uk-inline uk-dark">
    <canvas width="1280" height="590"></canvas>
    <img src="{% static 'web/img/jpg/cover.jpg' %}" alt="" class="img-header" uk-cover>

    <a class="uk-position-absolute uk-transform-center one-maker" style="left: 60%; top: 30%" href="/explore/python/" uk-marker uk-tooltip="Learn Python" data-aos="zoom-in" data-aos-duration="6000"></a>
    <a class="uk-position-absolute uk-transform-center two-maker" style="left: 78%; top: 40%" href="#" uk-marker uk-tooltip="Learn Ruby" data-aos="zoom-in" data-aos-duration="2700"></a>
    <a class="uk-position-absolute uk-transform-center three-maker" style="left: 52%; top: 72%" href="#" uk-marker uk-tooltip="Learn Ubuntu" data-aos="zoom-in" data-aos-duration="1900"></a>
    <a class="uk-position-absolute uk-transform-center four-maker" style="left: 67%; top: 71%" href="#" uk-marker uk-tooltip="Learn Database" data-aos="zoom-in" data-aos-duration="2210"></a>
    <a class="uk-position-absolute uk-transform-center five-maker" style="left: 56%; top: 50%" href="#" uk-marker uk-tooltip="Learn Web Server" data-aos="zoom-in" data-aos-duration="1500"></a>
    <a class="uk-position-absolute uk-transform-center six-maker" style="left: 45%; top: 64%" href="/explore/nginx/" uk-marker uk-tooltip="Learn Nginx" data-aos="zoom-in" data-aos-duration="2100"></a>
    <a class="uk-position-absolute uk-transform-center seven-maker" style="left: 73%; top: 54%" href="#" uk-marker uk-tooltip="Learn Django" data-aos="zoom-in" data-aos-duration="1500"></a>
    <a class="uk-position-absolute uk-transform-center eight-maker" style="left: 49%; top: 27%" href="#" uk-marker uk-tooltip="Learn Gunicorn" data-aos="zoom-in" data-aos-duration="2500"></a>

    <div class="uk-text-left" uk-grid>
        <div class="uk-width-1-3 uk-position-center-left uk-overlay uk-overlay-primary uk-margin-left uk-margin-right">
            <div class="uk-card uk-card-small uk-card-body card-header">
                <h3 class="uk-card-title title-box-left-header" data-aos="fade-right" data-aos-duration="2000">Hello buddy, already you learn? </h3>
                <p class="content-box-left-header" data-aos="fade-left" data-aos-duration="2000">Lorem ipsum dolor sit amet consectetur adipisicing elit. A quaerat quos iste alias quod in magni obcaecati ipsam doloremque perspiciatis!</p>
                <div uk-margin">
                    <button class="uk-button btn-warning uk-button-small btn-header">Learn Now</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="uk-container">
    
</div>



