{% load static %}

<div class="uk-position-relative">
  <nav class="uk-navbar-container topnav" uk-navbar="mode: click">
    <div class="uk-navbar-left">
      <!--<a href="" class="uk-navbar-toggle hamburger-nav" uk-navbar-toggle-icon></a> -->
      <ul class="uk-navbar-nav">
        <li>
          <a href="#" class="uk-navbar-toogle hamburger-nav" uk-navbar-toggle-icon></a>
          <div class="uk-navbar-dropdown uk-navbar-dropdown-width-5 box-menu">
            <div class="uk-navbar-dropdown-grid uk-child-width-1-5" uk-grid>
              <div class="uk-flex uk-flex-column uk-width-2-5">
                <div class="uk-card uk-card-small uk-card-header box-left-menu">
                  <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="30" height="30" src="{% static 'web/img/icons/python.png' %}">
                    </div>
                    <div class="uk-width-expand title-menu-left">
                        <h5 class="uk-margin-remove-bottom">Python</h5>
                        <p class="uk-text-bold uk-margin-remove-top">
                          53
                          <span class="uk-text-light">Posts</span>
                        </p>
                    </div>
                    <hr class="uk-divider-vertical">
                    <ul class="uk-list uk-text-small">
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="code"></a> &nbsp; Coding and Learn</li>
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="cog"></a> &nbsp; Configure</li>
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="gitter"></a> &nbsp; Development</li>
                    </ul>
                  </div>
                </div>

                <div class="uk-card uk-card-small uk-card-header uk-margin-top box-left-menu">
                  <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="" width="30" height="30" src="{% static 'web/img/icons/ruby.png' %}">
                    </div>
                    <div class="uk-width-expand title-menu-left">
                        <h5 class="uk-margin-remove-bottom">Ruby</h5>
                        <p class="uk-text-bold uk-margin-remove-top">
                          9
                          <span class="uk-text-light">Posts</span>
                        </p>
                    </div>
                    <hr class="uk-divider-vertical">
                    <ul class="uk-list uk-text-small">
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="plus-circle"></a> &nbsp; Add modules</li>
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="cog"></a> &nbsp; Settings or Setup</li>
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="world"></a> &nbsp; Load Balance</li>
                    </ul>
                  </div>
                </div>

                <div class="uk-card uk-card-small uk-card-header uk-margin-top box-left-menu">
                  <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="" width="30" height="30" src="{% static 'web/img/icons/nodejs.png' %}">
                    </div>
                    <div class="uk-width-expand title-menu-left">
                        <h5 class="uk-margin-remove-bottom">NodeJS</h5>
                        <p class="uk-text-bold uk-margin-remove-top">
                          129
                          <span class="uk-text-light">Posts</span>
                        </p>
                    </div>
                    <hr class="uk-divider-vertical">
                    <ul class="uk-list uk-text-small">
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="pull"></a> &nbsp; Installation OS</li>
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="cog"></a> &nbsp; Configure</li>
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="move"></a> &nbsp; Raid and Backups</li>
                    </ul>
                  </div>
                </div>

              </div>

              <div class="uk-flex uk-flex-column uk-width-2-5">
                <div class="uk-card uk-card-small uk-card-header box-left-menu">
                  <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="" width="30" height="30" src="{% static 'web/img/icons/postgresql.png' %}">
                    </div>
                    <div class="uk-width-expand title-menu-left">
                        <h5 class="uk-margin-remove-bottom">Postgresql</h5>
                        <p class="uk-text-bold uk-margin-remove-top">
                          53
                          <span class="uk-text-light">Posts</span>
                        </p>
                    </div>
                    <hr class="uk-divider-vertical">
                    <ul class="uk-list uk-text-small">
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="code"></a> &nbsp; Coding and Learn</li>
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="cog"></a> &nbsp; Configure</li>
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="gitter"></a> &nbsp; Development</li>
                    </ul>
                  </div>
                </div>

                <div class="uk-card uk-card-small uk-card-header uk-margin-top box-left-menu">
                  <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="30" height="30" src="{% static 'web/img/icons/nginx.png' %}">
                    </div>
                    <div class="uk-width-expand title-menu-left">
                        <h5 class="uk-margin-remove-bottom">Nginx</h5>
                        <p class="uk-text-bold uk-margin-remove-top">
                          9
                          <span class="uk-text-light">Posts</span>
                        </p>
                    </div>
                    <hr class="uk-divider-vertical">
                    <ul class="uk-list uk-text-small">
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="plus-circle"></a> &nbsp; Add modules</li>
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="cog"></a> &nbsp; Settings or Setup</li>
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="world"></a> &nbsp; Load Balance</li>
                    </ul>
                  </div>
                </div>

                <div class="uk-card uk-card-small uk-card-header uk-margin-top box-left-menu">
                  <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="30" height="30" src="{% static 'web/img/icons/ubuntu.png' %}">
                    </div>
                    <div class="uk-width-expand title-menu-left">
                        <h5 class="uk-margin-remove-bottom">Ubuntu</h5>
                        <p class="uk-text-bold uk-margin-remove-top">
                          129
                          <span class="uk-text-light">Posts</span>
                        </p>
                    </div>
                    <hr class="uk-divider-vertical">
                    <ul class="uk-list uk-text-small">
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="pull"></a> &nbsp; Installation OS</li>
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="cog"></a> &nbsp; Configure</li>
                      <li class="text-success"><a href="#" class="uk-icon-link" uk-icon="move"></a> &nbsp; Raid and Backups</li>
                    </ul>
                  </div>
                </div>

              </div>
            

              <!--<div>
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-active title-bigMenu uk-text-center"><a href="#">Servers</a></li>
                  <li class="uk-nav-divider"></li>
                  <li><a href="#">Item</a></li>
                  <li class="uk-nav-header">Header</li>
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Item</a></li>
                  <li class="uk-nav-divider"></li>
                  <li><a href="#">Item</a></li>
                </ul>
              </div>
            
              <div>
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-active title-bigMenu uk-text-center"><a href="#">Database</a></li>
                  <li class="uk-nav-divider"></li>
                  <li><a href="#">Item</a></li>
                  <li class="uk-nav-header">Header</li>
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Item</a></li>
                  <li class="uk-nav-divider"></li>
                  <li><a href="#">Item</a></li>
                </ul>
              </div> -->
            
              <div>
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-active title-bigMenu uk-text-center"><a href="#">Videos and Podcast</a></li>
                  <li class="uk-nav-divider"></li>
                  <ul class="uk-list uk-list-large uk-margin">
                    <div class="uk-margin uk-card uk-card-secondary">
                      <div class="uk-text-center">
                        <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                            <img src="{% static 'web/img/sliders/slider-1.jpeg' %}" alt="">
                            <div class="uk-position-center">
                                <div class="uk-transition-slide-top-small"><h4 class="uk-margin-remove">Headline</h4></div>
                                <div class="uk-transition-slide-bottom-small"><h4 class="uk-margin-remove">Subheadline</h4></div>
                            </div>
                        </div>
                        <!--<p class="uk-margin-small-top">Small Top + Bottom</p> -->
                      </div>
                    </div>

                    <div class="uk-margin uk-card uk-card-secondary">
                      <div class="uk-text-center">
                        <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
                            <img src="{% static 'web/img/sliders/slider-2.jpg' %}" alt="">
                            <div class="uk-position-center">
                                <div class="uk-transition-slide-top-small"><h4 class="uk-margin-remove">Headline</h4></div>
                                <div class="uk-transition-slide-bottom-small"><h4 class="uk-margin-remove">Subheadline</h4></div>
                            </div>
                        </div>
                        <!--<p class="uk-margin-small-top">Small Top + Bottom</p> -->
                      </div>
                    </div>
                    
                    <div class="uk-margin uk-card uk-card-secondary uk-card-body uk-text-muted">Lorem ipsum dolor sit amet.</div>
                    
                </ul>
                </ul>
              </div>
            
            </div>
          </div>
        </li>
    </ul>
    </div>
  
    <div class="uk-navbar-center">
      <a href="" class="uk-navbar-item uk-logo brand-center" data-aos="flip-down" data-aos-duration="2000">Codeque.in</a>
    </div>
  
    <div class="uk-navbar-right">
        <button class="uk-button uk-button- uk-button-small btn-warning">Sign Up</button>
        <button class="uk-button uk-button-danger uk-button-small btn-success">Login</button>
    </div>
  
  </nav>
</div>