{% load static %}

<div class="uk-section uk-remove-margin-top section-support">
    <div class="uk-container">
        <h3 class="title-section uk-text-center"><span>Section Support</span></h3>

        <div class="uk-container uk-container-small box-all-card">
            <img src="{% static 'web/img/svg/mountain.svg' %}" alt="" class="img-box-card-1">
            <img src="{% static 'web/img/png/cloud_moon.png' %}" alt="" class="img-box-card-2">

            <div class="uk-grid-medium uk-child-width-expand@s uk-text-center uk-margin-top" uk-grid>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body card-django">Django</div>
                </div>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body card-nodejs">NodeJS</div>
                </div>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body card-laravel">Laravel</div>
                </div>
            </div>

            <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body">Python</div>
                </div>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body">Javascript</div>
                </div>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body">PHP</div>
                </div>
            </div>

            <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body">Gunicorn</div>
                </div>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body">Apache2</div>
                </div>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body">Nginx</div>
                </div>
            </div>

            <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body">MongoDB</div>
                </div>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body">Mysql</div>
                </div>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body">Postgresql</div>
                </div>
            </div>

        </div>
        
    </div>
</div>