{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'web/img/png/favicon.png' %}" sizes="16x16 32x32" type="image/png">

    {% block stylesheets %}
        <!-- Fonts Google -->
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap" rel="stylesheet">
        <!-- End Fonts Google -->

        <!-- Fonts Awesome 5.1 -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <!-- End Fonts Awesome 5.1 -->

        <!-- UIKit CSS Framework -->
            <link rel="stylesheet" href="{% static 'web/ui/css/uikit.min.css' %}">
        <!-- End UIKit CSS Framework -->

        <!-- AOS Javascript Lib -->
            <link rel="stylesheet" href="{% static 'web/css/aos.css' %}">
        <!-- End AOS Javascript Lib-->

    {% endblock stylesheets %}

    {% block extra-stylesheets %}

    {% endblock extra-stylesheets %}

    <title>Codeque | {% block title %} {% endblock title %}</title>
</head>
<body>
    
    {% block body %}

    {% endblock body %}

    <!-- Javascript UIKit Framework CSS -->
        <script src="{% static 'web/ui/js/uikit.min.js' %}"></script>
        <script src="{% static 'web/ui/js/uikit-icons.min.js' %}"></script>
    <!-- End Javascript UIKit Framework CSS -->

    <!-- AOS Javascript Lib -->
        <script src="{% static 'web/js/aos.js' %}"></script>
    <!-- END AOS Javascript Lib-->

    {% block extra-javascript %}
        <script>
            AOS.init();
        </script>
    {% endblock extra-javascript %}

</body>
</html>